@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    font-family: "Noto Sans", sans-serif;
    scroll-behavior: smooth;
}


p {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

#sample {
    height: 100vh;
    width: 100%;
}

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

:root {
    --bg-color: rgb(71, 61, 198);
    --text-color: rgb(21, 14, 96);
    --text-color-dark: rgb(207, 230, 255);
    --primary-color: #f1a10f;
}

/* Hero */
#hero {
    height: 100vh;
    width: 100%;
    background-image: url(https://atharvaport.my.canva.site/business-event-website/media/38dad9431c225d0a7750f8e799fe7be9.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.nav {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all .4s ease-out;
}

.nav.hide {
    top: -8rem;
}

.nav ul a {
    font-size: 2rem;
    color: #fff;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 1rem 1rem;
    margin: 0 2rem;
    position: relative;
    display: inline-block;
    z-index: 2;
    transition: all .3s ease;
}

.nav ul a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 0%;
    border-radius: 1rem;
    z-index: -1;
    background-color: #fff;
    transition: all .3s ease;
}

.nav ul a:hover::after {
    height: 100%;
    width: 100%;
    left: 0;
}

.nav ul a:hover {
    color: var(--bg-color);
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    z-index: 100;
}

.hamburger .hambar {
    width: 3rem;
    height: 0.4rem;
    margin: 0.3rem 0;
    border-radius: 5rem;
    background-color: var(--bg-color);
}

.nav ul {
    list-style: none;
    display: flex;
}

.hero {
    width: 100%;
    height: calc(100% - 8rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.hero-text h1 {
    font-size: 14vw;
    color: #fff;
}

.hero-text h1:first-child {
    align-self: flex-start;
}

.hero-text h1:last-child {
    align-self: flex-end;
}

.hero .btn {
    position: absolute;
    bottom: 4rem;
}

.btn {
    font-size: 2rem;
    color: #fff;
    border-radius: 3rem;
    border: 3px solid #fff;
    padding: 1.5rem 3rem;
    font-weight: 700;
    transition: all .3s ease;
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fff;
    transition: all .6s ease;
    z-index: -1;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #fff;
    transition: all .6s ease;
    border-radius: 1rem;
    z-index: -1;
}

.btn:hover::after {
    width: 100%;
}

.btn:hover::before {
    width: 100%;
}

.btn:hover {
    color: var(--bg-color);
}

.nav-left {
    width: 0;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    left: -100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1.2s ease;
    z-index: 90;
}

.nav-left.active {
    width: 500px;
    left: 0;
}

.nav-left ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-left ul a {
    font-size: 4rem;
    font-weight: 800;
    margin: 3rem 0;
    color: var(--bg-color);
}

.nav-left ul a li {
    height: 4.5rem !important;
}

/* Speakers */
#speakers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 9rem 0;
    background-color: #CFE6FF;
    overflow: hidden;
}

#speakers .heading {
    margin-bottom: 9rem;
}

.heading {
    font-size: 9rem;
    color: var(--text-color);
    font-weight: 900;
}

.speakers {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.speakers-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 20%;
}

.speakers-img {
    width: 300px;
    height: 300px;
    border-radius: 5rem;
    overflow: hidden;
}

.speakers-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.speakers-box h1 {
    font-size: 2.5rem;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 900;
    margin: 2.5rem 0;
}

.speakers-box p {
    font-size: 1.8rem;
    color: var(--text-color);
}

/* Schedule */
#schedule {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8rem 0;
    background-color: var(--bg-color);
    overflow: hidden;
}

#schedule .heading {
    margin-bottom: 8rem;
    color: #fff;
}

.schedule {
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    width: 400px;
    margin: 2rem ;
}

.s-box h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: -1rem;
}

.s-box h1 {
    font-size: 6rem;
    font-weight: 800;
    margin-bottom: 3.5rem;
}

.s-box ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.s-box ul li {
    width: 100%;
    margin-bottom: 1.5rem;
}
.s-box ul li{
    border-bottom: 2px solid #ebebeb;
}

.s-box ul li p {
    font-size: 1.9rem;
}

.s-box ul li h3 {
    font-size: 1.9rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
/* Design */
#design{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    background-color: rgb(207, 230, 255);
}
.design{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.design img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.design .img{
    margin: 1rem;
    overflow: hidden;
}
.d1 .img{
    width: 300px;
    height: 8vw;
}
.design span{
    font-size: 9vw;
    color: var(--bg-color);
    font-weight: 700;
}
.d2 .img{
    width: 150px;
    height: 8vw;
}
.d3 .img{
    width: 200px;
    height: 8vw;
}

.d4 .img{
    width: 350px;
    height: 8vw;
}
/* Save */
#save{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 12rem 0;
    background-color: var(--text-color);
    gap: 4vw;
    overflow: hidden;
}
.save-box{
    width: 500px;
    height: 500px;
}
.save-box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3rem;
}
.save{
    color: rgb(207, 230, 255);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 2rem;
    width: 300px;
}
.save h1{
    font-size: 7rem;
}
.save .btn{
    display: block;
}


@media screen and (max-width: 1300px) {
    .s-box {
        width: 300px;
    }
}
@media screen and (max-width: 1000px) {
    .hero-text h1 {
        font-size: 18vw;
    }

    .speakers-img {
        width: 240px;
        height: 240px;
    }

    .speakers-box {
        width: 30%;
    }
    .s-box {
        width: 250px;
    }
}

@media screen and (max-width: 900px) {
    .nav ul {
        display: none;
    }

    .nav-left.active {
        width: 100%;
    }

    .nav-left ul a {
        font-size: 3rem;
    }

    .speakers {
        flex-direction: column;
        align-items: center;
    }

    .heading {
        font-size: 8rem;
    }

    .speakers-box {
        width: 400px;
        margin: 3rem 0;
    }

    .speakers-img {
        width: 340px;
        height: 340px;
    }

    #speakers .heading {
        margin-bottom: 3rem;
    }
    .schedule{
        flex-direction: column;
    }
    .s-box {
        width: 500px;
        margin: 3rem 0;
    }
    #save{
        align-items: center;
        flex-direction: column;
    }
    .save{
        width: 500px;
    }
}

@media screen and (max-width: 700px) {
    .heading {
        font-size: 6rem;
    }
    .d1 .img {
        width: 300px;
        height: 22vw;
    }
    .d2 .img {
        width: 150px;
        height: 22vw;
    }
    .d3 .img {
        width: 200px;
        height: 22vw;
    }
    .d4 .img {
        width: 350px;
        height: 22vw;
    }
    .design{
        flex-wrap: wrap;
    }
    .design span {
        font-size: 14vw;
    }
}

@media screen and (max-width: 500px) {
    .speakers-img {
        width: 220px;
        height: 220px;
    }

    .speakers-box {
        width: 90%;
    }
    .schedule {
        width: 100%;
    }
    .s-box {
        width: 90%;
    }
    .d1 .img {
        height: 57vw;
    }
    .d4 .img {
        height: 40vw;
    }
    .save{
        width: 90%;
    }
    .save-box{
        width: 90%;
        height: 350px;
    }
    .save h1{
        font-size: 5rem;
    }
}